.newCampaignContainer {
margin-top: 1.5rem;
height: 100%;
width: 100%;
}

.form{
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 50%;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
}

.spinner {
  z-index: 1;
}
